# Assignment

## 우리의 목표 : 나이브베이즈 문제 해결하기
1.1) 입력문서가 {fast, furious, fun} 만을 주요 단어로 가질때, 이 문서는 얼마의 확률로 어떤 문서로 분류되는가?

##### 노트북 파일을 따라오면서, 빈칸과 질문에 대한 물음을 모두 채우시면 과제 완료 입니다

### 주어진 dataset 을 확인해 보기위해 엑셀 파일을 읽습니다.

In [1]:
import numpy as np
import pandas as pd

In [2]:
documents = pd.read_excel('test_file.xlsx')

In [3]:
documents

    label                        message
0  comedy          Fun couple, love love
1  action          fast Furious, shoot!!
2  comedy  couple^^, fly, fast, fun, fun
3  action       furious, shoot shoot fun
4  action         fly~~ fast shoot, Love

####  Q1. 발견한 **문제점**(전처리가 필요한 부분)을 2가지 이상 적어주세요.
- 1. 기호: 단어 빈도수를 계산함에 있어, 같은 단어도 다르게 처리하게 됨
- 2. 동일한 단어의 반복: shoot shoot fun의 경우, shoot이 중요한 단어라 2번 표기했을 수 있지만 그렇지 않은 경우도 존재
- 3. 불용어: 불용어는 분석에 큰 의미가 없는 단어입니다. 이에 따라, 의미가 없기에 제거를 해야 도움이 됩니다.
- 4. 대소문자: 컴퓨터는 알파벳을 같은 단어라도 대소문자에 따라 다르게 인식합니다. 이에 따라, Fun&fun등을 하나의 단어로 통일해야합니다.

### step 1. 단어를 모두 소문자로 바꾸어 줍니다. 
#### Q2. 이 과정이 왜 필요할까요?
- A.컴퓨터는 알파벳을 같은 단어라도 대소문자에 따라 다르게 인식합니다.<br>이에따라 일관성이 줄어들 수 있으며, 단어가 많아지게 되면 원핫인코딩을 한다고 가정할 경우 엄청나게 차원이 늘어나게 됩니다.

#### Q3. 코드속 빈칸을 채워주세요

In [4]:
# lower_documents = []
lower_documents = [d.lower() for d in documents['message']]
print(lower_documents)

['fun couple, love love', 'fast furious, shoot!!', 'couple^^, fly, fast, fun, fun', 'furious, shoot shoot fun', 'fly~~ fast shoot, love']

### step2. 특수문자를 없애줍니다.
#### string.punctuation 에는 특수문자들이 저장되어있는것을 확인할수 있습니다.

In [5]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

### Q4. string.punctuation 을 이용해서 특수문자를 제거해주세요.

In [6]:
import re

del_punctuation_documents = []

for i in lower_documents:
    del_punctuation_documents.append(re.sub(f"[{string.punctuation}]", "", i))

del_punctuation_documents

['fun couple love love',
 'fast furious shoot',
 'couple fly fast fun fun',
 'furious shoot shoot fun',
 'fly fast shoot love']

### step 3. 단어를 하나씩 띄어쓰기 단위로 쪼개어 줍니다.
#### Q5. 빈칸을 채워주세요.

In [7]:
preprocessed_documents = [[w for w in d.split()] for d in del_punctuation_documents]
preprocessed_documents

[['fun', 'couple', 'love', 'love'],
 ['fast', 'furious', 'shoot'],
 ['couple', 'fly', 'fast', 'fun', 'fun'],
 ['furious', 'shoot', 'shoot', 'fun'],
 ['fly', 'fast', 'shoot', 'love']]

### step 4. 각각의 단어가 문서에서 몇번 나왔는지 세봅시다.

In [8]:
# frequency_list = []
from collections import Counter

frequency_list = [Counter(d) for d in preprocessed_documents]
frequency_list

[Counter({'fun': 1, 'couple': 1, 'love': 2}),
 Counter({'fast': 1, 'furious': 1, 'shoot': 1}),
 Counter({'couple': 1, 'fly': 1, 'fast': 1, 'fun': 2}),
 Counter({'furious': 1, 'shoot': 2, 'fun': 1}),
 Counter({'fly': 1, 'fast': 1, 'shoot': 1, 'love': 1})]

### step 5. 이제 우리가 하고싶은것은, 문자를 숫자로 변환하는 작업입니다!(그림 참고)
- 이를 위해 CountVectorizer를 사용합니다.
- CountVectorizer는 문서 집합에서 단어 토큰을 생성하고, 각 단어 수를 세어 BOW (Bag of Words) 인코딩한 벡터를 만들어줍니다.

- 문서에 해당단어가 몇번 포함되었는지를 나타낼 때 사용하는 방법입니다.

- 참고 : https://datascienceschool.net/view-notebook/3e7aadbf88ed4f0d87a76f9ddc925d69/

![CountVectorized](https://user-images.githubusercontent.com/68625698/106378540-15d8ed80-63e9-11eb-8604-5c960c274867.PNG)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()
count_vector.fit(documents['message'])

CountVectorizer()

In [10]:
doc_array = count_vector.transform(documents['message']).toarray()
doc_array

array([[1, 0, 0, 1, 0, 2, 0],
       [0, 1, 0, 0, 1, 0, 1],
       [1, 1, 1, 2, 0, 0, 0],
       [0, 0, 0, 1, 1, 0, 2],
       [0, 1, 1, 0, 0, 1, 1]], dtype=int64)

In [11]:
count_vector.get_feature_names()

C:\Users\dhj98\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['couple', 'fast', 'fly', 'fun', 'furious', 'love', 'shoot']

In [12]:
count_vector.vocabulary_

{'fun': 3,
 'couple': 0,
 'love': 5,
 'fast': 1,
 'furious': 4,
 'shoot': 6,
 'fly': 2}

In [13]:
frequency_matrix = pd.DataFrame(doc_array, columns = count_vector.get_feature_names())
frequency_matrix

   couple  fast  fly  fun  furious  love  shoot
0       1     0    0    1        0     2      0
1       0     1    0    0        1     0      1
2       1     1    1    2        0     0      0
3       0     0    0    1        1     0      2
4       0     1    1    0        0     1      1

In [14]:
frequency_matrix['count'] = frequency_matrix.sum(axis=1)

### step 6. 범주형 변수를 dummy변수로 변환해주는 작업(One-Hot Encoding!)을 해주어야합니다.
#### Q6. label 을 comedy =1, action =0 으로 변환해주세요

In [15]:
documents["label"] = documents["label"].map({'comedy': 1, 'action': 0})

In [16]:
doc = pd.concat([documents['label'],frequency_matrix],axis=1)

In [17]:
doc

   label  couple  fast  fly  fun  furious  love  shoot  count
0      1       1     0    0    1        0     2      0      4
1      0       0     1    0    0        1     0      1      3
2      1       1     1    1    2        0     0      0      5
3      0       0     0    0    1        1     0      2      4
4      0       0     1    1    0        0     1      1      4

###  step 7. 나이브 베이즈 계산을 해봅시다!

#### Q7. 입력문서가 {fast, furious, fun} 을 주요 단어로 가질때, 이 문서는 얼마의 확률로 어떤 문서로 분류가 될까요? ( 계산과정을 채워주세요)

In [18]:
doc =  doc.values        # dataframe을 np-array로 변환해줍니다.
                         # return값은 np-matrix가 아니라 np-array입니다.
doc

array([[1, 1, 0, 0, 1, 0, 2, 0, 4],
       [0, 0, 1, 0, 0, 1, 0, 1, 3],
       [1, 1, 1, 1, 2, 0, 0, 0, 5],
       [0, 0, 0, 0, 1, 1, 0, 2, 4],
       [0, 0, 1, 1, 0, 0, 1, 1, 4]], dtype=int64)

In [19]:
type(doc)

numpy.ndarray

####  P(Y=comedy), P(Y=action) 계산하기

In [20]:
# P(Y=comedy)
p_comedy = sum(doc[:,0]==1) / len(doc)

# P(Y=action)
p_action = sum(doc[:,0]==0) / len(doc)

In [21]:
print('p_comedy : ',p_comedy)
print('p_action : ', p_action)

p_comedy :  0.4
p_action :  0.6

#### P(fast=1|comedy=1), P(furious=1|comedy=1), P(fun=1|comedy=1) 계산하기
* 참고 : 문서에 두번 등장한 단어 주의

In [22]:
# P(fast=1|comedy=1)
p_comedy_fast = sum((doc[:,0]==1) & (doc[:,2]>0)) / sum(doc[:,0]==1)

# P(furious=1|comedy=1)
p_comedy_furious = sum((doc[:,0]==1) & (doc[:,5]>0)) / sum(doc[:,0]==1) 

# P(fun=1|comedy=1)
p_comedy_fun = sum((doc[:,0]==1) & (doc[:,4]>0)) / sum(doc[:,0]==1)

In [23]:
print('p_comedy_fast : ' , p_comedy_fast)
print('p_comedy_furious : ' , p_comedy_furious)
print('p_comedy_fun : ' , p_comedy_fun)

p_comedy_fast :  0.5
p_comedy_furious :  0.0
p_comedy_fun :  1.0

#### P(fast=1|action=1), P(furious=1|action=1), P(fun=1|action=1) 계산하기
* 참고 : 문서에 두번 등장한 단어 주의

In [24]:
# P(fast=1|action=1)
p_action_fast = sum((doc[:,0]==0) & (doc[:,2]>0)) / sum(doc[:,0]==0)

# P(furious=1|action=1)
p_action_furious = sum((doc[:,0]==0) & (doc[:,5]>0)) / sum(doc[:,0]==0)

# P(fun=1|action=1)
p_action_fun = sum((doc[:,0]==0) & (doc[:,4]>0)) / sum(doc[:,0]==0)

In [25]:
print('p_action_fast : ' , p_action_fast)
print('p_action_furious : ' , p_action_furious)
print('p_action_fun : ' , p_action_fun)

p_action_fast :  0.6666666666666666
p_action_furious :  0.6666666666666666
p_action_fun :  0.3333333333333333

#### P(Y = comedy| X = fast, furious, fun) , P(Y = action=1| X = fast, furious, fun) 값 계산하기

In [26]:
# P(Y = comedy| X = fast, furious, fun)
proba_comedy = p_comedy_fast * p_comedy_furious * p_comedy_fun * p_comedy

# P(Y = action=1| X = fast, furious, fun)
proba_action = p_action_fast * p_action_furious * p_action_fun * p_action

In [27]:
print('proba_comedy', proba_comedy)
print('proba_action', proba_action)

proba_comedy 0.0
proba_action 0.08888888888888888

### step 8. 다음 값을 비교해봅시다.
1. P(Y = comedy| X = fast, furious, fun)
2. P(Y = action=1| X = fast, furious, fun)

Q7. 어떤 문제점을 발견할수 있나요? 문제점을 해결하기 위한 방법으로는 어떤게 있을까요?

- 문제점 1 _ P(Y = comedy| X = fast, furious, fun) = 0
    - 'comedy'로 분류될 확률이 0을 의미합니다.
    - 'fast', 'furious', 'fun'이라는 단어가 포함된 문서가 'comedy'로 분류될 확률이 전혀 없다는 것인데
    - 사람이 직관적으로 판단하기에, comedy는 위 단어들과 연관성이 높습니다.
- 문제점2 _ P(Y = action=1| X = fast, furious, fun) 
    -  'action'으로 분류될 가능성이 'comedy'로 분류될 가능성보다 높다.

- 해결방법
    - 더 많은 데이터를 수집하여, 일반적인 패턴 학습이 가능하게 하기
    - 다른 분류 알고리즘 사용하기
    - 데이터가 충분했을 때도 위와 같은 상황이라면, 클래스 불균형을 인식하고 단어의 비율을 고려한 샘플링을 통해 해소 가능